:root {
    font-family: special-elite, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #dad8d0;
    background-color: #1D0304;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

ul {
    list-style-type: none;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.logo {
    position: absolute;
    background: url(./assets/img/logo_w_no_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    z-index: 100;
    height: 200px;
    width: 200px;
    top: 350px;
    margin: auto;
    transition: filter 200ms ease;
}

.logo:hover {
    filter: drop-shadow(0 0 5px #dad8d0);
}

#app {
    width: 100vw;
    max-width: 1300px;
    height: 100vh;
    position: relative;
}

.wallpaper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
}


.wallpaper div {
    opacity: 0;
    flex: 1 1 460px;
    min-height: 450px;
}

.wallpaper .anim {
    opacity: 0.6;
    transition: opacity 2s linear;
}

.wallpaper .dark {
    opacity: 0;
    transition: opacity 1s linear;
}


.wallpaper .slide1 {background: center / contain no-repeat url(./assets/img/slides/fort_01.jpg)}
.wallpaper .slide2 {background: center / contain no-repeat url(./assets/img/slides/fort_02.jpg)}
.wallpaper .slide3 {background: center / contain no-repeat url(./assets/img/slides/fort_03.jpg)}
.wallpaper .slide4 {background: center / contain no-repeat url(./assets/img/slides/fort_04.jpg)}
.wallpaper .slide5 {background: center / contain no-repeat url(./assets/img/slides/fort_05.jpg)}
.wallpaper .slide6 {background: center / contain no-repeat url(./assets/img/slides/fort_06.jpg)}
.wallpaper .slide7 {background: center / contain no-repeat url(./assets/img/slides/fort_07.jpg)}
.wallpaper .slide8 {background: center / contain no-repeat url(./assets/img/slides/fort_08.jpg)}
.wallpaper .slide9 {background: center / contain no-repeat url(./assets/img/slides/fort_09.jpg)}
.wallpaper .slide10 {background: center / contain no-repeat url(./assets/img/slides/fort_10.jpg)}
.wallpaper .slide11 {background: center / contain no-repeat url(./assets/img/slides/fort_11.jpg)}
.wallpaper .slide12 {background: center / contain no-repeat url(./assets/img/slides/fort_12.jpg)}
.wallpaper .slide13 {background: center / contain no-repeat url(./assets/img/slides/fort_13.jpg)}
.wallpaper .slide14 {background: center / contain no-repeat url(./assets/img/slides/fort_14.jpg)}
.wallpaper .slide15 {background: center / contain no-repeat url(./assets/img/slides/fort_15.jpg)}
.wallpaper .slide16 {background: center / contain no-repeat url(./assets/img/slides/fort_16.jpg)}
.wallpaper .slide17 {background: center / contain no-repeat url(./assets/img/slides/fort_17.jpg)}
.wallpaper .slide18 {background: center / contain no-repeat url(./assets/img/slides/fort_18.jpg)}
.wallpaper .slide19 {background: center / contain no-repeat url(./assets/img/slides/fort_19.jpg)}
.wallpaper .slide20 {background: center / contain no-repeat url(./assets/img/slides/fort_20.jpg)}
.wallpaper .slide21 {background: center / contain no-repeat url(./assets/img/slides/fort_21.jpg)}
.wallpaper .slide22 {background: center / contain no-repeat url(./assets/img/slides/fort_22.jpg)}
.wallpaper .slide23 {background: center / contain no-repeat url(./assets/img/slides/fort_23.jpg)}
.wallpaper .slide24 {background: center / contain no-repeat url(./assets/img/slides/fort_24.jpg)}
.wallpaper .slide25 {background: center / contain no-repeat url(./assets/img/slides/fort_25.jpg)}

@keyframes showPhoto {
    0% {
        opacity: 0;
        border: 1px solid blue;
    }
    100% {
        opacity: 0.5;
        border: 15px solid blue;
    }
}


.hidden {
    display: none;
}

.clickable:hover {
    filter: drop-shadow(0 0 7px #dad8d0);
    transition: filter 200ms;
    cursor: pointer;
}

a:hover {
    color: #dad8d0;
}

button {
    background-color: #f9f9f9;
}

#topMenu {
    color: #dad8d0;
    user-select: none;
    position: absolute;
    z-index: 100;
    font-size: 20px;
    width: 86%;
}

#topMenu .title {
    margin-top: 8px;
    background: center / contain no-repeat url(./assets/img/burger_menu2.svg);
    width: 20px;
    height: 20px;
}

#topMenu .title, #topMenu .menu div {
    padding: 10px 20px 0;
}

#topMenu .menu {
    padding-inline-start: 20px;
}

#topMenu .menu.shown {
    display: block;
}

#topMenu .external-link {
    margin: 20px 0;
    padding-left: 50px;
}

#topMenu .inline-list .external-link {
    display: inline-block;
    margin-right: 25px;
    font-size: 17px;
    padding-left: 35px;
}

#topMenu .external-link.spotify {background: center left / 25px no-repeat url(/src/assets/img/spotify.svg)}
#topMenu .external-link.yt-music {background: center left / 25px no-repeat url(/src/assets/img/ytmusic.svg);}
#topMenu .external-link.bandcamp {background: center left / 25px no-repeat url(/src/assets/img/bandcamp.svg);}
#topMenu .external-link.facebook {background: center left / 25px no-repeat url(/src/assets/img/facebook.svg);}
#topMenu .external-link.youtube {background: center left / 25px no-repeat url(/src/assets/img/youtube.svg);}
#topMenu .external-link.instagram {background: center left / 25px no-repeat url(/src/assets/img/instagram.svg);}
#topMenu .external-link.apple-music {background: center left / 25px no-repeat url(/src/assets/img/applemusic.svg);}
#topMenu .external-link.amazon-music {background: center left / 25px no-repeat url(/src/assets/img/amazonmusic.svg);}
#topMenu .external-link.deezer {background: center left / 25px no-repeat url(/src/assets/img/deezer.svg);}


.close-box {
    margin: 10px 20px;
    cursor: pointer;
}
.subPage .text {
    padding: 1em;
}
.subPage {
    position: absolute;
    border-radius: 5px;
    background-color: rgb(20 0 0 / 85%);
    left: 85px;
    top: 37px;
    z-index: 100;
    padding: 10px;
}
.close-box {
    position: absolute;
    right: 10px;
}

.subPage a {
    margin-top: 15px;
    color: #dad8d0;
    background: center bottom / 14px repeat-x url(./assets/img/underline2.svg);
}

.rus {
    font-size: 26px;
    font-family: true-typewriter-rus, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#links ul {
    padding-inline: 1em;
}


.subpage-title {
}


@font-face {
    font-family: "special-elite";
    src: url(./assets/fonts/SpecialElite-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "true-typewriter-rus";
    src: url(./assets/fonts/TTWPGOTT.ttf);
}

@media (max-width: 919px) {
    .logo {
        top: 275px;
        height: 130px;
        width: 130px;
    }
    .wallpaper div {
        min-height: 300px;
        margin-bottom: 100px;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        color: #dad8d0;
        /* background-color: #ffffff; */
    }

}

